In [1]:
import pandas as pd

FILE 'googleplaystore_user_reviews.csv'

In [2]:
App = pd.read_csv('googleplaystore.csv')

-dicovery data

In [3]:
App.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
App.shape

(10841, 13)

In [5]:
App.size

140933

In [6]:
App.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

-clean data

In [7]:
columns_to_drop = ['Size', 'Installs', 'Price','Last Updated', 'Current Ver', 'Android Ver']

App = App.drop(columns=columns_to_drop)
App.head()

,App,Category,Rating,Reviews,Type,Content Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,Free,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,Free,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,Free,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,Free,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,Free,Everyone,Art & Design;Creativity

In [8]:
#change some column name
App.rename(columns={'App': 'App_Name'}, inplace=True)
App.rename(columns={'Type': 'App_Type'}, inplace=True)
App.rename(columns={'Content Rating': 'Content_Rate'}, inplace=True)

In [9]:
App.head()

,App_Name,Category,Rating,Reviews,App_Type,Content_Rate,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,Free,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,Free,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,Free,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,Free,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,Free,Everyone,Art & Design;Creativity

In [10]:
#replace value within Reviews column
App['Reviews'] = App['Reviews'].replace({'M': '000000', 'K': '000'}, regex=True).astype(float)

In [11]:
App.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App_Name      10841 non-null  object
 1   Category      10841 non-null  object
 2   Rating        9367 non-null   float64
 3   Reviews       10841 non-null  float64
 4   App_Type      10840 non-null  object
 5   Content_Rate  10840 non-null  object
 6   Genres        10841 non-null  object
dtypes: float64(2), object(5)
memory usage: 593.0+ KB

In [12]:
#convert type of Reviews column
App['Reviews'] = App['Reviews'].astype(int) #change Reviews from object to ineger

In [13]:
App.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App_Name      10841 non-null  object
 1   Category      10841 non-null  object
 2   Rating        9367 non-null   float64
 3   Reviews       10841 non-null  int32
 4   App_Type      10840 non-null  object
 5   Content_Rate  10840 non-null  object
 6   Genres        10841 non-null  object
dtypes: float64(1), int32(1), object(5)
memory usage: 550.6+ KB

In [14]:
#check for null value
App.isnull().sum()

App_Name           0
Category           0
Rating          1474
Reviews            0
App_Type           1
Content_Rate       1
Genres             0
dtype: int64

In [15]:
#check all value of Rating column
App['Rating'].count()

9367

In [16]:
#deal with null value 
##Rating column(numeric) : replace null value with mean 
App['Rating'].fillna(App['Rating'].mean(), inplace=True)

##App_Type and Content_Rate column (text)): Replace null values with the most frequent value(mode) 
App['App_Type'].fillna(App['App_Type'].mode()[0], inplace=True)
App['Content_Rate'].fillna(App['Content_Rate'].mode()[0], inplace=True)

In [17]:
#check for duplicate value
App.duplicated().sum()

485

In [18]:
#drop duplicate value
App = App.drop_duplicates()

In [19]:
#remove leading or trailing wihitespace in column
App.columns = App.columns.str.strip().str.lower()

-check data after clean

In [20]:
App.head()

,app_name,category,rating,reviews,app_type,content_rate,genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,Free,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,Free,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,Free,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,Free,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,Free,Everyone,Art & Design;Creativity

In [21]:
App.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10356 entries, 0 to 10840
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_name      10356 non-null  object
 1   category      10356 non-null  object
 2   rating        10356 non-null  float64
 3   reviews       10356 non-null  int32
 4   app_type      10356 non-null  object
 5   content_rate  10356 non-null  object
 6   genres        10356 non-null  object
dtypes: float64(1), int32(1), object(5)
memory usage: 606.8+ KB

In [22]:
App.isnull().sum()

app_name        0
category        0
rating          0
reviews         0
app_type        0
content_rate    0
genres          0
dtype: int64

In [23]:
App.duplicated().sum()

0

FILE 'googleplaystore_user_reviews.csv'

In [24]:
Reviews = pd.read_csv('googleplaystore_user_reviews.csv')

-discovery data

In [25]:
Reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [26]:
Reviews.shape

(64295, 5)

In [27]:
Reviews.size

321475

In [28]:
Reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

-clean data

In [29]:
#drop column that not relative

columns_to_drop2 = ['Translated_Review', 'Sentiment_Polarity', 'Sentiment_Subjectivity']

Reviews = Reviews.drop(columns=columns_to_drop2)
Reviews.head()

                     App Sentiment
0  10 Best Foods for You  Positive
1  10 Best Foods for You  Positive
2  10 Best Foods for You       NaN
3  10 Best Foods for You  Positive
4  10 Best Foods for You  Positive

In [30]:
#change some column name
Reviews.rename(columns={'App': 'App_Name'}, inplace=True)

In [31]:
Reviews.head()

                App_Name Sentiment
0  10 Best Foods for You  Positive
1  10 Best Foods for You  Positive
2  10 Best Foods for You       NaN
3  10 Best Foods for You  Positive
4  10 Best Foods for You  Positive

In [32]:
Reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   App_Name   64295 non-null  object
 1   Sentiment  37432 non-null  object
dtypes: object(2)
memory usage: 1004.7+ KB

In [33]:
#check for null value
Reviews.isnull().sum()

App_Name         0
Sentiment    26863
dtype: int64

In [34]:
#deal with null in 'Sentiment' with mode
Reviews['Sentiment'].fillna(Reviews['Sentiment'].mode()[0], inplace=True)

In [35]:
#check for duplicate value
Reviews.duplicated().sum()

61698

In [36]:
#drop duplicate vaue
Reviews = Reviews.drop_duplicates()

In [37]:
#remove leading or trailing wihitespace in column
Reviews.columns = Reviews.columns.str.strip().str.lower()

-check data after clean

In [38]:
Reviews.head()

                             app_name sentiment
0               10 Best Foods for You  Positive
8               10 Best Foods for You   Neutral
32              10 Best Foods for You  Negative
200  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室  Positive
202  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室   Neutral

In [39]:
Reviews.isnull().sum()

app_name     0
sentiment    0
dtype: int64

In [40]:
Reviews.duplicated().sum()

0

EXPORT DATA

In [41]:
App.to_csv('App.csv')

In [42]:
Reviews.to_csv('Reviews.csv')